<ul class="header-menu">
  <li><a href="/">Home</a></li>
  <li><a href="/pages/about">About</a></li>
  <li class="has-submenu">
    <a href="/pages/contact">Contact</a>
    <ul class="submenu">
      <li><a href="/pages/contact-form">Contact Form</a></li>
      <li><a href="/pages/locations">Our Locations</a></li>
    </ul>
  </li>
  <li><a href="/pages/blog">Blog</a></li>
</ul>
